<table class="table table-striped">
	<tr>
		<th class="col-xs-1">Ship Date</th>
		<th class="col-xs-2">Tracking #</th>
		<th class="col-xs-2">Status</th>
		<th class="col-xs-1">Accepted?</th>
		<th>Feedback</th>
	</tr>
	<% @firm.wine_shipments.each do |shipment| %>
		<tr>
			<td><%= formatted_date(shipment.ship_date) %></td>
			<td><%= link_to shipment.tracking_number, google_tracking_url_for(shipment), target: :_blank %></td>
			<td><span title="<%= shipment.message %>" class="ship-status <%= shipment.status %>"><%= shipment.current_status %></span></td>
			<td><%= best_in_place shipment, :accepted, as: :checkbox, collection: {false: "No", true: "Yes"} %></td>
			<td><%= best_in_place shipment, :feedback, { inner_class: "form-control bip", display_with: -> v { markup(v) } } %></td>
		</tr>
	<% end %>
</table>