<div class='row'>
	<div class='col-xs-12'>
		<h1><%= @klass.to_s.humanize %></h1>
	</div>
</div>
<div class='row'>
	<div class='col-xs-12'>
		<%= link_to 'New Customer', new_customer_path %>
	</div>
</div>
<div class='row'>
	<table class='table'>
		<tr>
			<th>Name</th>
			<th>Contact</th>
			<th>Phone</th>
			<th>Address</th>
			<th>Active Projects</th>
		</tr>
		<tbody>
		<% for customer in @customers %>
			<tr class='table-striped'>
				<td><%= customer.name %></td>
				<td><a href="mailto:#{<%= customer.contact_email %>}"><%= customer.contact_name %></a></td>
				<td><%= customer.contact_phone %></td>
				<td><%= customer.one_line_address %></td>
				<td><%= customer.projects.count %></td>
			</tr>			
		<% end %>
		</tbody>
	</table>
</div>