<div class='row spacer'>
	<div class='row-same-height'>
		<div class='col-xs-8 col-xs-height'>
			<h1><%= @klass.to_s.humanize.pluralize %></h1>
		</div>
		<div class='col-xs-4 col-xs-height text-right'>
			<%= link_to "New #{@klass.to_s}", new_polymorphic_path(@klass) %>
		</div>
	</div>
</div>
<div class='row spacer'>
	<table class='table table-striped'>
		<tr>
			<th>Name</th>
			<th>Code</th>
			<th>Contact</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Address</th>
			<% if @klass == Customer %>
				<th class="col-xs-1">Active Projects</th>
				<th>&nbsp;</th>
			<% end %>
		</tr>
		<% for firm in @firms %>
			<tr class='table-striped'>
				<td><%= link_to firm.name, polymorphic_path(firm) %></td>
				<td><%= firm.code %></td>
				<td><%= firm.contact_name %></td>
				<td><a href="mailto:<%= firm.contact_email %>"><%= firm.contact_email %></a></td>
				<td><%= firm.contact_phone %></td>
				<td><%= firm.one_line_address %></td>
				<% if @klass == Customer %>
					<td><%= link_to firm.projects.active.count, customer_projects_path(firm) %></td>
					<td><%= link_to "New Project", new_customer_project_path(firm) %></td>
				<% end %>
			</tr>			
		<% end %>
	</table>
	<%= paginate @firms %>
</div>