<div class='row'>
	<div class='col-xs-12'>
		<h1><%= @klass.to_s.humanize %></h1>
	</div>
</div>
<div class='row'>
	<div class='col-xs-12'>
		<%= link_to "New #{@klass.to_s.humanize}", controller: @klass.to_s.downcase.pluralize, action: "new" %>
	</div>
</div>
<div class='row'>
	<table class='table'>
		<tr>
			<th>Name</th>
			<th>Contact</th>
			<th>Phone</th>
			<th>Address</th>
			<% if @klass == Customer %>
				<th>Active Projects</th>
				<th>&nbsp;</th>
			<% end %>
		</tr>
		<tbody>
		<% for firm in @firms %>
			<tr class='table-striped'>
				<td><%= link_to firm.name, controller: @klass.to_s.downcase.pluralize, action: 'show', id: firm %></td>
				<td><a href="mailto:<%= firm.contact_email %>"><%= firm.contact_name %></a></td>
				<td><%= firm.contact_phone %></td>
				<td><%= firm.one_line_address %></td>
				<% if @klass == Customer %>
					<td><%= firm.projects.count %></td>
					<td><%= link_to "New Project", new_customer_project_path(firm) %></td>
				<% end %>
			</tr>			
		<% end %>
		</tbody>
	</table>
</div>