<div class='row spacer'>
	<div class='row-same-height'>
		<div class='col-xs-8 col-xs-height'>
			<h1><%= @firm.name %><% if @klass == Vendor %> &nbsp;<small>(<%= @firm.code %>)</small><% end %><br/></h1>
			<div class="firm-details">
				<%= @firm.address_line_1 %><br/>
				<% unless @firm.address_line_2.blank? %>
					<%= @firm.address_line_2 %></br/>
				<% end %>
				<%= @firm.city %>, <%= @firm.state.upcase %> <%= @firm.zip %>
				<% unless @firm.bond.nil? %>
					<%= @firm.bond %>
				<% end %>
			</div>
			<div class="firm-details">
				<address>
					<span class="bold"><%= @firm.contact_name %></span> - 
					<%= @firm.contact_phone %><br/>
					<a href="mailto:<%= @firm.contact_email %>"><%= @firm.contact_email %></a>
				</address>
			</div>
		</div>
		<div class='col-xs-4 col-xs-height text-right'>
			<%= link_to "Edit #{@klass.to_s.titleize}", controller: @klass.to_s.underscore.downcase.pluralize, action: 'edit' %>
			<% if @klass == Customer %>
						&nbsp;|&nbsp;
				<%= link_to "Create New Project", new_customer_project_path(@firm) %>
			<% end %>
		</div>
	</div>
</div>
<% if @firm.is_a? Customer %>
	<div class="row spacer">
		<div class="col-xs-12">
			<h3>Samples</h3>
			<table class="table table-responsive no-top-border table-striped">
				<thead>
					<tr>
						<th class="col-xs-1">Ship Date</th>
						<th class="col-xs-1">Carrier</th>
						<th class="col-xs-2">Tracking #</th>
						<th class="col-xs-2">Status</th>
						<th class="col-xs-1">Accepted?</th>
						<th>Feedback</th>
					</tr>
				</thead>
				<tbody>
					<% @firm.wine_shipments.each do |shipment| %>
						<tr>
							<td><%= formatted_date(shipment.ship_date) %></td>
							<td><%= shipment.carrier %></td>
							<td><%= link_to shipment.tracking_number, google_tracking_url_for(shipment), target: :_blank %></td>
							<td><span class="ship-status <%= shipment.tracking_status_class %>"><%= shipment.tracking_status.titleize %></span></td>
							<td><%= best_in_place shipment, :accepted, as: :checkbox, collection: {false: "No", true: "Yes"} %></td>
							<td><%= best_in_place shipment, :feedback, { inner_class: "form-control bip", display_with: -> v { markup(v) } } %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
<% end %>
<div class='row subordinate'>
	<% if @associated_collection.is_a? Hash %>
		<% i = 0 %>
		<% @associated_collection.each do |key, value| %>
		<% puts "value = #{value.inspect}"%>
			<% @components = value %>
			<div class="row spacer <%= i == 0 ? 'break' : '' %>">
				<div class='col-xs-12'>
					<h1><%= key.titleize.pluralize %></h1>
				</div>
			</div>
			<div class='row spacer'>
				<%= render partial: "#{key.underscore.downcase.pluralize}/table", locals: { components: @components } %>
			</div>
			<% i += 1 %>
		<% end %>
	<% else %>
	
	<% end %>
</div>