<td><%= f.input :lot_number, placeholder: "Lot Number *" %></td>
<td><%= f.input :volume, placeholder: "Volume *" %></td>
<td>&nbsp;</td>
<td><%= f.input :cogs, placeholder: "$/Gal*" %></td>
<td><%= f.input :vintage_percent, placeholder: "% Vin*" %></td>
<td><%= f.input :appellation_percent, placeholder: "% App*" %></td>
<td><%= f.input :variety_percent, placeholder: "% Var*" %></td>				
<td><%= f.input :description, placeholder: "Description" %></td>
<td><%= f.button :submit, value: button_tag %></td>
