<table class="table table-striped">
	<tr>
		<th>PO #</th>
		<th>Vendor</th>
		<th>Order Date</th>
		<th>No. Items</th>
		<th>Total $</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>
	<% purchase_orders.each do |po| %>
		<tr id="purchase-order-<%= po.id %>">
			<td><%= link_to po.number, purchase_order_path(po) %></td>
			<td><%= link_to po.vendor, vendor_path(po.vendor) %></td>
			<td><%= formatted_date(po.order_date) %></td>
			<td><%= po.line_items.size %></td>
			<td><%= number_to_currency(po.total) %></td>
			<td><%= link_to "Add Line Items", purchase_order_path(po) %></td>
			<td><%= link_to "Close", "#" %></td>
			<td>
				<%= link_to purchase_order_path(po), data: { remote: true, method: :delete, 
																							confirm: "Are you sure you want to delete this Purchase Order?"} do %>
					<span class="glyphicon glyphicon-trash"></span>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>