<table class="table table-responsive no-top-border table-striped">
	<tr>
		<th>PO #</th>
		<th>Order Date</th>
		<th>No. Items</th>
		<th>Total $</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>
	<% purchase_orders.each do |po| %>
		<tr>
			<td><%= po.number %></td>
			<td><%= formatted_date(po.order_date) %></td>
			<td><%= po.line_items.size %></td>
			<td><%= number_to_currency(po.total) %></td>
			<td><%= link_to "Add Line Items", purchase_order_path(po) %></td>
			<td><%= link_to "Close", "#" %></td>
		</tr>
	<% end %>
</table>