<div class="row spacer">
	<div class="col-lg-12"><h1>New Purchase Order</h1></div>
</div>
<div class="row spacer">
	<%= simple_form_for @purchase_order, defaults: { wrapper: :horizontal_form }, html: { class: 'form-horizontal' } do |f| %>
		<div class="col-xs-4">
			<table class="table table-responsive no-top-border">
				<tr>
					<td><label class="control-label" for="purchase_order_number">PO Number</label></td>
					<td><%= f.input :number, label: false %></td>
				</tr>
				<tr>
					<td><label class="control-label" for="purchase_order_vendor_id">Vendor</label></td>
					<td><%= f.input :vendor_id, collection: Vendor.order(:name).map { |v| [v.name, v.id] },
							 						label: false, include_blank: "Select Vendor" %>
					</td>
				</tr>
				<tr>
					<td><label class="control-label" for="purchase_order_overhead">Tax/Shipping</label></td>
					<td><%= f.input :overhead, label: false %></td>
				</tr>
				<tr>
					<td><label class="control-label" for="purchase_order_order_date">Order Date</label></td>
					<td>
						<div class="input-group date" id="date-picker">
							<%= f.input_field :order_date, as: :string, class: "form-control" %>
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><%= f.button :submit, class: "col-xs-12 btn btn-primary" %></td>
				</tr>
			</table>
				<script type="text/javascript">
					$(function () {
						$("#date-picker").datetimepicker({
							format: "MM/DD/YY"
						});
					});
				</script>
			</div>
			<div class="col-xs-4">
				<%= render partial: "partials/image_upload_form", locals: { f: f, name: :po_image, upload_label: "Foo"  } %>
			</div>
	<% end %>
</div>