<div class="row spacer">
	<div class="col-xs-12"><h1><%= @purchase_order.to_s %></h1></div>
</div>
<div class="row spacer">
	<div class="col-xs-4">
		<table class="table table-responsive no-top-border">
			<tr>
				<td>Vendor</td>
				<td class="bold"><%= link_to @purchase_order.vendor.name, vendor_path(@purchase_order.vendor) %></td>
			</tr>
			<tr>
				<td>Overhead</td>
				<td class="bold"><%= number_to_currency(@purchase_order.overhead) %></td>
			</tr>
			<tr>
				<td>Order Date</td>
				<td class="bold"><%= formatted_date(@purchase_order.order_date) %></td>
			</tr>
			<tr>
				<td>$ Total</td>
				<td class="bold"><%= number_to_currency(@purchase_order.total) %></td>
			</tr>
		</table>
	</div>
</div>
<div class="row spacer">
	<% unless @purchase_order.received? %>
		<%= render partial: "packaging_component_orders/new_line_item" %>
	<% end %>
	<div class="col-xs-12">
		<table class="table table-responsive no-top-border table-striped" id="line-items-table">
			<thead>
				<tr>
					<th class="col-xs-1">&nbsp;</th>
					<th class="col-xs-1">Project Number</th>
					<th class="col-xs-3">Item</th>
					<th class="col-xs-1">Qty</th>
					<th class="col-xs-1">Subtotal</th>
					<th class="col-xs-1">Overhead</th>
					<th class="col-xs-1">Total</th>
					<th class="col-xs-1">Received</th>
					<th class="col-xs-1">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<% @purchase_order.line_items.each do |line_item| %>
					<% unless line_item.new_record? %>
						<%= render partial: "packaging_component_orders/line_item_row", locals: { line_item: line_item } %>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>