<div class="row spacer">
	<div class="col-xs-12"><h1><%= @purchase_order.to_s %></h1></div>
</div>
<div class="row spacer">
	<div class="col-xs-4">
		<table class="table table-responsive no-top-border">
			<tr>
				<td class="col-xs-5">Vendor</td>
				<td class="col-xs-7 bold"><%= link_to @purchase_order.vendor.name, vendor_path(@purchase_order.vendor) %></td>
			</tr>
			<tr>
				<td>Overhead</td>
				<td class="bold"><%= best_in_place @purchase_order, :overhead, display_with: -> (v) { number_to_currency(v) } %></td>
			</tr>
			<tr>
				<td>Order Date</td>
				<td class="bold"><%= formatted_date(@purchase_order.order_date) %></td>
			</tr>
			<tr>
				<td>$ Total</td>
				<td class="bold"><%= number_to_currency(@purchase_order.total) %></td>
			</tr>
		</table>
	</div>
	<div class="col-xs-4">
		<%= render partial: "packaging_components/component_image", locals: { component: @purchase_order, type: "po_image" } %>
	</div>
	<div class="col-xs-4">
		<%= render partial: "packaging_components/component_image", locals: { component: @purchase_order, type: "bol_image" } %>
	</div>
	<%= render partial: "packaging_components/upload" %>
</div>
<div class="row spacer">
	<% unless @purchase_order.received? %>
		<%= render partial: "packaging_component_orders/new_line_item" %>
	<% end %>
	<div class="col-xs-12">
		<table class="table table-striped" id="line-items-table">
			<tr>
				<th class="">&nbsp;</th>
				<th class="col-xs-3">Item</th>
				<th class="col-xs-1 right">Qty</th>
				<th class="col-xs-1 right">Subtotal</th>
				<th class="col-xs-2 right">Overhead</th>
				<th class="col-xs-2 right">Total</th>
				<th class="col-xs-1">Received</th>
				<th class="col-xs-1">&nbsp;</th>
			</tr>
			<% @purchase_order.line_items.each do |line_item| %>
				<% unless line_item.new_record? %>
					<%= render partial: "packaging_component_orders/line_item_row", locals: { line_item: line_item } %>
				<% end %>
			<% end %>
		</table>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$(".receive_line_item").change(function(){
			var event = ($(this).is(":checked")) ? "receive" : "undo"
			var url		= $(this).attr("data-url") + "/" + event
			$.ajax({
				url: url,
				type: 'PUT',
				success: console.log("yaaa!"),
				contentType: "script"
			})
		});
	});
</script>