<div id="<%= component %>" class="component-summary">
	<% collection.each do |item| %>
		<div class="row mini-component-container">
			<div class="col-xs-4"><%= cl_image_tag(item.packageable.image_url(:big_thumb)) %></div>
			<div class="col-xs-8">
				<table class="table table-responsive table-condensed no-margin">
					<tr>
						<td>Item #</td>
						<td class="bold" colspan="3">
							<%= component_link_for(item.packageable) %>
							<%= link_to item, data: { method: :delete, remote: true }, class: "pull-right destroy" do %>
								<span class='glyphicon glyphicon-remove'></span>
							<% end %>
						</td>
					</tr>
					<tr>
						<td>Vendor</td>
						<td class="bold"><%= link_to item.packageable.vendor.name, vendor_path(item.packageable.vendor) %></td>
						<td>Specs</td>
						<td class="bold"><%= item.packageable.specs %></td>
					</tr>
					<tr>
						<td>Inv / Need</td>
						<td class="bold" colspan="3">
							<%= render partial: "partials/component_inventory", locals: { object: item.packageable } %>
							&nbsp;/&nbsp;
							<%= number_with_delimiter(item.required_quantity) %>
						</td>
					</tr>
					<% if ["capsule", "closure"].include? component %>
						<tr>
							<td>Material</td>
							<td class="bold"><%= item.packageable.material %></td>
							<td>Color</td>
							<td class="bold"><%= item.packageable.color %></td>
						</tr>
					<% else %>
						<tr>
							<td>Mould</td>
							<td class="bold"><%= item.packageable.mould %></td>
							<td>Color</td>
							<td class="bold"><%= item.packageable.color %></td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
	<% end %>
</div>