<div id="<%= component %>" class="component-summary">
	<% collection.each do |item| %>
		<div class="row mini-component-container">
			<div class="col-xs-4"><%= cl_image_tag(item.packageable.image_url(:big_thumb)) %></div>
			<div class="col-xs-8">
				<table class="table table-responsive table-condensed no-margin">
					<tr>
						<td>Item #</td>
						<td class="bold" colspan="3">
							<%= component_link_for(item.packageable) %>
							<%= link_to item, data: { method: :delete, remote: true }, class: "pull-right destroy" do %>
								<span class='glyphicon glyphicon-remove'></span>
							<% end %>
						</td>
					</tr>
					<tr>
						<td>Vendor</td>
						<td class="bold"><%= link_to item.packageable.vendor.name, vendor_path(item.packageable.vendor) %></td>
						<td>Specs</td>
						<td class="bold"><%= item.packageable.specs %></td>
					</tr>
					<tr>
						<td>PO#</td>
						<td class="bold">

						</td>
						<td>Cost</td>
						<td class="bold">

						</td>
					</tr>
					<tr>
						<td>Material</td>
						<td class="bold"><%= item.packageable.material %></td>
						<td>Color</td>
						<td class="bold"><%= item.packageable.color %></td>
					</tr>
				</table>
			</div>
		</div>
	<% end %>
</div>