<div id="<%= component %>" class="component-summary">
	<%= render partial: "/partials/image_sidebar", locals: { object: collection.first.packageable } %>
	<div class="col-xs-6">
		<table class="table table-responsive no-top-border">
			<%= render partial: "/partials/#{component}_table", locals: 
													{	object: collection.first.packageable, requirement: collection.first } %>
		</table>
	</div>
</div>
<div class="component-manager" id="<%= component %>-manager">
	<div>
		<%= link_to "Replace #{component.titleize}", "#", data: { component: component, target: "replace" } %> | 
		<%= link_to "Add another #{component.titleize}", "#", data: { component: component, target: "add" } %>
	</div>
	<div class="hidden" id="replace-<%= component %>-select-wrapper">
		<%= render partial: "partials/component_select", locals: { component: component, action: "Replace" } %>
	</div>
	<div class="hidden" id="add-<%= component %>-select-wrapper">
		<%= render partial: "partials/component_select", locals: { component: component, action: "Add" } %>
	</div>
</div>