<table class="table table-striped">
	<tr>
		<th style="width:73px;">&nbsp;</th>
		<th>Vendor</th>
		<th>Item #</th>
		<th>Specs</th>
		<th>Position</th>
		<th>Paper</th>
		<th>Alc</th>
		<th>UPC</th>
		<th>Art Source</th>
		<% if current_user_is_admin? %>
			<th>Status</th>
		<% end %>
		<th>&nbsp;</th>
	</tr>
	<% components.each do |component| %>
		<tr id="component-<%= component.id %>">
			<td><%= link_to cl_image_tag(component.image_url(:thumb)), component.image_url %></td>
			<td><%= link_to component.vendor.name, vendor_path(component.vendor) %></td>
			<td><%= link_to component.item_number, url_for(controller: component.class.to_s.tableize, action: :show, id: component.id) %></td>
			<td><%= component.specs %></td>
			<td><%= format_position(component.position) %></td>
			<td><%= component.material %></td>
			<td><%= number_to_percentage(component.alc, precision: 1) %></td>
			<td><%= component.upc %></td>
			<td><%= component.artwork_source %></td>
			<% if current_user_is_admin? %>
				<td>
					<%= select_tag "label[state]", options_from_collection_for_select(ComponentState.valid_states, :downcase, :to_s, component.aasm_state.downcase), class: "form-control component-state-control", data: { url: polymorphic_path(component) } %>
				</td>
			<% end %>
			<td>
				<%= link_to url_for(controller: @klass.to_s.underscore.downcase.pluralize, action: :show, id: component.id),
					 					data: { remote: true, method: :delete, confirm: "Are you sure you want to delete this #{@klass.to_s.titleize}?" } do %>
					<span class="glyphicon glyphicon-trash"></span>				
				<% end %>
			</td>
		</tr>
	<% end %>
</table>