<div class="row">
	<%= render partial: "/partials/front_label_summary", locals: { label: @project.front_label } %>
	<%= render partial: "/partials/back_label_summary", locals: { label: @project.back_label } %>
</div>
<div class="row spacer">
	<%= render partial: "/partials/bottle_summary", locals: { bottle: @project.bottle } %>
	<% unless @project.no_capsule? %>
		<%= render partial: "/partials/capsule_summary", locals: { capsule: @project.capsule } %>
	<% else %>
		<%= render partial: "/partials/closure_summary", locals: { closure: @project.closure } %>
	<% end %>
</div>
<% unless @project.no_capsule? %>
	<div class="row spacer">
		<%= render partial: "/partials/closure_summary", locals: { closure: @project.closure } %>
	</div>
<% end %>