<% @requirement = "#{component}_requirement".intern %>
<div class="col-xs-12" id="<%= component %>_container">
	<% if @project.send(@requirement) %>
		<%= render partial: "partials/component", locals: { requirement: @requirement, component: component } %>
		<div class="component-manager" id="<%= component %>-manager">
			<%= link_to "Replace #{component.titleize}", "#", data: { replace_component: component } %>
			<div class="hidden" id="<%= component %>-select-wrapper">
				<%= render partial: "partials/component_select", locals: { component: component, action: "Replace" } %>
			</div>
		</div>
	<% else %>
		<%= render partial: "partials/component_select", locals: { component: component, action: "Select" } %>
	<% end %>
</div>