<table class="table no-top-border">
	<tr>
		<td>
			<span id="<%= name.to_s %>-explain">Upload <%= name.to_s.titleize %>&nbsp;</span>
			<div class="col-xs-12 preview" id="<%= name.to_s %>-preview">
				<%= image_tag "fallback/sidebar_default.png" %>
			</div>
			<div class="col-xs-12">
				<%= f.cl_image_upload(name, html: { class: "col-xs-7 no-border", data: { attribute: name.to_s } }) %>
			</div>
			<span class="status" id="<%= name.to_s %>-status"></span>
		</td>
	</tr>
</table>