<div class="col-xs-6 border-bottom">
	<h3>Bottling</h3>
	<table class="table table-responsive no-top-border">
		<tr>
			<td>Bottling Loc.</td>
			<td class="bold"><%= @project.bottled_at.name %></td>
		</tr>
		<tr>
			<td>Bottler</td>
			<td class="bold"><%= @project.bottler.name %></td>
		</tr>
		<tr>
			<td>Total Cases</td>
			<td class="bold"><%= number_with_delimiter(@project.target_cases) %></td>
		</tr>
		<tr>
			<td>Front Label Rewind</td>
			<td class="bold">
				<%= @project.front_labels.map(&:rewind).join(", ") %>
			</td>
		</tr>
		<tr>
			<td>Back Label Rewind</td>
			<td class="bold"><%= @project.back_labels.map(&:rewind).join(", ") %></td>
		</tr>
		<tr>
			<td>Bottle Mould</td>
			<td class="bold"><%= @project.bottles.map(&:mould).join(", ") %></td>
		</tr>
		<tr>
			<td>Bottle Specs</td>
			<td class="bold"><%= @project.bottles.map(&:specs).join(", ") %></td>
		</tr>
	</table>
</div>
<div class="col-xs-6 border-bottom">
	<h3>Shipping</h3>
	<table class="table table-responsive no-top-border">
		<tr>
			<td>Case Dimensions</td>
			<td class="bold"><%= @project.bottles.first.formatted_case_dimensions %></td>
		</tr>
		<tr>
			<td>Quantity / Case</td>
			<td class="bold"><%= @project.bottles.map(&:case_config).join(", ") %></td>
		</tr>
		<tr>
			<td>Pallet Configuration</td>
			<td class="bold"><%= @project.bottles.map(&:pallet_config).join(", ") %></td>
		</tr>
		<tr>
			<td>Case Weight</td>
			<td class="bold"><%= @project.bottles.map(&:case_weight).join(", ") %></td>
		</tr>
		<tr>
			<td>Trucker</td>
			<td class="bold"><%= @project.trucker %></td>
		</tr>
		<tr>
			<td>Cases to Customer</td>
			<td class="bold"><%= @project.cases_to_customer %></td>
		</tr>
		<tr>
			<td>Cases to Warehouse</td>
			<td class="bold"><%= number_with_delimiter(@project.cases_to_warehouse) %></td>
		</tr>
	</table>
</div>