<div class="row spacer">
	<div class="row-same-height">
		<div class="col-sm-12 col-lg-8 col-xs-height"><h1><%= @status.titleize %> Bottles</h1></div>
		<div class="col-sm-12 col-lg-4 col-xs-height right"><%= link_to "New Bottle" %></div>
	</div>
</div>
<div class="row spacer">
	<div class="col-xs-12">
		<table class="table table-striped table-responsive no-top-border">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Vendor</th>
					<th>Item #</th>
					<th>Mould</th>
					<th>Shape</th>
					<th>Color</th>
					<th>Specs</th>
					<th>Case Config.</th>
					<th>Case Dimensions</th>
					<th>Case Weight</th>
					<th>Pallet Config.</th>
				</tr>
			</thead>
			<tbody>
				<% @bottles.each do |bottle| %>
				<tr>
					<td><%= bottle.image %></td>
					<td><%= bottle.vendor.name %></td>
					<td><%= bottle.item_number %></td>
					<td><%= bottle.mould %></td>
					<td><%= bottle.shape %></td>
					<td><%= bottle.color %></td>
					<td><%= bottle.case_config %></td>
					<td><%= bottle.case_weight %></td>
					<td><%= bottle.pallet_config %></td>
					<td><%= link_to bottle_path(bottle) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>