<%= form_for @component, html: { class: "in-place", id: "create-form" } do |f| %>
	<%= f.hidden_field :vendor_id, value: @component.vendor.id %>
<div class="row spacer">
	<div class="col-xs-12">
		<h1><%= f.text_field :item_number, placeholder: "Item Number" %></h1>
		<p>by <strong><%= @component.vendor.name %></strong></p>
	</div>
</div>
<div class="row spacer">
	<div class="col-xs-4">
		<table class="table table-responsive no-top-border">
			<tr>
				<td class="col-xs-4"><label class="no-bold" for="bottle_mould">Mould</label></td>
				<td class="bold col-xs-8"><%= f.text_field :mould, placeholder: "" %></td>
			</tr>
			<tr>
				<td><label class="no-bold" for="bottle_shape">Shape</label></td>
				<td class="bold"><%= f.text_field :shape, placeholder: "" %></td>
			</tr>
			<tr>
				<td><label class="no-bold" for="bottle_color">Color</label></td>
				<td class="bold"><%= f.text_field :color %></td>
			</tr>
			<tr>
				<td><label class="no-bold" for="bottle_height">Specs</label></td>
				<td class="bold">
					<%= f.text_field :height, class: "short", placeholder: "H" %>
					<span class="x-span">x</span>
					<%= f.text_field :diameter, class: "short", placeholder: "D" %>
					<%= f.select :units, [['mm', 'mm'], ['in', 'in']] %>
				</td>
			</tr>
			<tr>
				<td><label class="no-bold" for="bottle_finish">Finish</label></td>
				<td class="bold">
					<%= f.select :finish, [['Cork', 'Cork'], ['Screwcap', 'Screwcap'], ['Bar Top', 'Bar Top']] %>
					<%= f.text_field :neck_diameter, class: "short", placeholder: "D" %> mm
				</td>
			</tr>
			<tr>
				<td><label class="no-bold" for="bottle_fill_point">Fill Point</label></td>
				<td class="bold"><%= f.text_field :fill_point %> mm</td>
			</tr>
		</table>
	</div>
	<div class="col-xs-4">
		<table class="table table-responsive no-top-border">
			<tr>
				<td><label class="no-bold" for="bottle_capacity">Capacity</label></td>
				<td class="bold">
					<%= f.text_field :capacity, class: "short no-x" %>
					<%= f.select :capacity_units, [['mL', 'mL'], ['oz', 'oz']] %>
				</td>
			</tr>
			<tr>
				<td><label class="no-bold" for="bottle_bottles_per_case">Bottles / Cs</label></td>
				<td class="bold"><%= f.text_field :bottles_per_case %></td>
			</tr>
			<tr>
				<td><label class="no-bold" for="bottle_case_dimensions">Case Dimensions</label></td>
				<td class="bold"><%= f.text_field :case_dimensions, placeholder: "H x W x L" %></td>
			</tr>
			<tr>
				<td><label class="no-bold" for="bottle_case_weight">Case Weight</label></td>
				<td class="bold"><%= f.text_field :case_weight %></td>
			</tr>
			<tr>
				<td><label class="no-bold" for="bottle_pallet_config">Pallet Config</label></td>
				<td class="bold"><%= f.text_field :pallet_config %></td>
			</tr>
			<tr>
				<td colspan="2"><%= f.submit nil, class: "btn btn-primary col-xs-12" %></td>
			</tr>
		</table>
	</div>
	<div class="col-xs-4">
		<table class="table table-responsive no-top-border">
			<tr>
				<td>Image</td>
				<td id="upload-cell">
					<%= f.cl_unsigned_image_upload(:image, "frzj7e4j") %>
					<div class="progress_bar">&nbsp;</div>
				</td>
			</tr>
			<tr>
				<td colspan="2"><div class="thumbnails"></div></td>
			</tr>
		</table>
	</div>
</div>
<% end %>