<tr>
	<td id="glow-cell-id-<%= line_item.id %>" class="<%= line_item.received? ? 'glow-cell' : '' %>">
		<% if false # if line_item.received --- silly glowing bar %>
			<div class="glow-container">&nbsp;<div class="glow glow-1">&nbsp;<div class="glow glow-2">&nbsp;<div class="glow glow-3">&nbsp;</div></div></div></div>
		<% end %>
		<%= link_to cl_image_tag(line_item.packageable.image_url(:thumb)), "#" %>
	</td>
	<td><%= line_item.packageable.to_s %></td>
	<td class="right"><%= number_with_delimiter(line_item.quantity.to_i) %></td>
	<td class="right"><%= number_to_currency(line_item.price, precision: 2) %></td>
	<td class="right"><%= number_to_currency(line_item.allocated_overhead) %></td>
	<td class="right"><%= number_to_currency(line_item.total_cost) %></td>
	<td>
		<%= check_box_tag "is_received", true, line_item.received?, class: "receive_line_item", 
												data: { url: packaging_component_order_path(line_item) } %>
	</td>
	<td></td>
</tr>