<div class="col-xs-12"><h3>Add Line Items</h3></div>
<div class="col-xs-12">
	<table class="table table-responsive no-top-border">
		<tr>
			<th>Component Description</th>
			<th>Quantity</th>
			<th>Price</th>
			<th class="col-xs-1">&nbsp;</th>
		</tr>
		<tr>
			<%= simple_form_for @purchase_order.line_items.build, defaults: { wrapper: :inline_form }, remote: true do |f| %>
				<td id="component-select-cell">
					<%= f.select :packageable, grouped_options_for_select(@purchase_order.vendor.products_select),
											{ include_blank: "Select Component" }, class: "form-control" %>
					<%= f.input :purchase_order_id, as: :hidden %>
				</td>
				<td><%= f.input :quantity %></td>
				<td><%= f.input :price %></td>
				<td><%= f.submit "Add Line Item", class: "btn btn-primary col-xs-12", disabled: true, id: "add-line-item" %></td>
				<script type="text/javascript">
					$(document).ready(function(){
						$("#component-select-cell").on("change", "#packaging_component_order_packageable", function(){
							if ( $(this).val() == "" ) {
								$("#add-line-item").prop("disabled", "true");
							} else {
								$("#add-line-item").prop("disabled", "");
							}
						});
					});
				</script>
			<% end %>
		</tr>
	</table>
</div>