<table class="table table-responsive no-top-border">
	<tr>
		<th class="col-xs-3"><h3 class="title">Shipping</h3></th>
		<th class="col-xs-3">&nbsp;</th>
	</tr>
	<tr>
		<td>Bottles / Case</td>
		<td><%= @project.bottle.try(:case_capacity) || @project.missing(:bottle) %></td>
	</tr>
	<tr>
		<td>Pallet Configuration</td>
		<td><%= @project.bottle.try(:pallet_configuration) || @project.missing(:bottle) %></td>
	</tr>
	<tr>
		<td>Case Weight</td>
		<td><%= @project.bottle.try(:case_weight).to_s.concat(" Lbs") || @project.missing(:bottle) %></td>
	</tr>
	<tr>
		<td>Trucker</td>
		<td><%= @project.trucker %></td>
	</tr>
	<tr>
		<td>Cases to Customer</td>
		<td><%= @project.cases_to_customer %></td>
	</tr>
	<tr>
		<td>Cases to Warehouse</td>
		<td><%= number_with_delimiter(@project.cases_to_warehouse) %></td>
	</tr>
</table>