<table class='table table-striped' id="projects">
	<tr>
		<th>&nbsp;</th>
		<th class="col-sm-1">Project Number</th>
		<% unless @customer %>
			<th>Customer</th>
		<% end %>
		<th>Brand</th>
		<th>Vintage</th>
		<th>Variety</th>
		<th>Appellation</th>
		<th>Cases</th>
		<th class="col-sm-1">Bottling Date</th>
		<th>Wine</th>
		<th>Comments</th>
		<% if current_user_is_admin? %>
			<th colspan="2">Actions</th>
		<% end %>
	</tr>
	<% for project in projects %>
		<tr id="project-<%= project.id %>">
			<td class="project-status"><span class="project-status-button <%= project.aasm_state %>"></span></td>
			<td><%= link_to project.project_number, project_path(project) %></td>
			<% unless @customer %>
				<td><%= link_to project.customer.name, polymorphic_path(project.customer) %></td>
			<% end %>
			<td><%= project.brand %></td>
			<td><%= project.vintage %></td>
			<td><%= project.variety %></td>
			<td><%= project.appellation %></td>
			<td><%= number_with_delimiter(project.target_cases, delimiter: ",") %></td>
			<td><%= formatted_date(project.bottling_date) %></td>
			<td>
				<% if project.wine %><%= link_to project.wine.sample_number, wine_path(project.wine) %><% end %>
			</td>
			<td>
				<%= link_to project_path(project) + "?category=comments", class: "comments-actions" do %>
					<%= project.comments.size %>
					<span class="glyphicon glyphicon-comment text-muted"></span>
					<% if project.actionable_comments.size > 0 %>
						/
						<%= project.actionable_comments.size %>
						<span class="glyphicon glyphicon-check text-success"></span>
					<% end %>
				<% end %>
			</td>
			<% if current_user_is_admin? %>
				<td>
					<%= link_to clone_project_path(project), data: { remote: true } do %>
						<span class="glyphicon glyphicon-duplicate text-primary"></span>
					<% end %>
				</td>
				<td>
					<%= link_to project_path(project), data: { remote: true, method: :delete, 
																						confirm: "Are you sure you want to permanently delete this Project?" } do %>
						<span class="glyphicon glyphicon-trash text-primary"></span>
					<% end %>
				</td>
			<% end %>
		</tr>
	<% end %>
	<% if projects.empty? %>
		<tr>
			<td id="no-projects" class="empty-table">
				<% if params[:query] %>
					No active projects found searching by "<%= params[:query] %>"
				<% else %>
					No active projects!
				<% end %>
			</td>
		</tr>
		<script type="text/javascript">
			var cells	= $("table#projects tr th").length;
			$("td#no-projects").attr("colspan", cells);
		</script>
	<% end %>
</table>