<div class="row spacer">
	<div class="col-xs-12">
		<% if request.original_url.include? "clone" %>
			<h1>Cloning <%= @project.to_s %> [<%= @old_project_number %>]</h1>
		<% else %>
			<h1>New <%= @project.customer.name %> Project</h1>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 container">
		<%= simple_form_for @project, url: customer_projects_path(@customer), 
												html: { class: "form-horizontal" }, 
												defaults: { wrapper: :side_by_side }  do |f| %>
			<%= render partial: "form", locals: { :f => f } %>
		<% end %>
	</div>
</div>