<div class="row spacer">
	<div class="row-same-height">
		<div class="col-xs-8 col-xs-height"><h1><%= @project.to_s %></h1></div>
		<div class="col-xs-4 col-xs-height pull-right"></div>
	</div>
</div>
<div class="row spacer">
	<div class="col-xs-6">
		<%= render partial: "general_info_table", locals: { :project => @project } %>
	</div>
	<div class="col-xs-6">
		<%= render partial: "wine_info_table", locals: { :project => @project } %>
		<%= render partial: "label_info_table", locals: { :project => @project } %>
	</div>
</div>
<div class="row">
	<%= render partial: "materials_table", locals: { :project => @project } %>
</div>
<div class="row">
	<div class="col-xs-6">
		&nbsp;
	</div>
	<div class="col-xs-6">
		<h3>Comments &amp; Actions</h3>
		<div id="comments-list">
		<% @project.comments.each do |comment| %>
			<% unless comment.new_record? %>
				<%= render partial: "comment", locals: { :comment => comment } %>
			<% end %>
		<% end %>
		</div>
		<%= render partial: "new_comment", locals: { :project => @project, :comment => Comment.new } %>
	</div>
</div>
