<table class="table table-striped">
	<tr>
		<th>&nbsp;</th>
		<th>Vendor</th>
		<th>Item #</th>
		<th>Color</th>
		<th>Material</th>
		<th>Artwork</th>
		<th>Specs</th>
		<th>&nbsp;</th>
	</tr>
	<% components.each do |component| %>
		<tr id="component-<%= component.id %>">
			<td><%= link_to cl_image_tag(component.image_url(:thumb)), component.image_url, target: :_blank %></td>
			<td><%= link_to component.vendor.name, polymorphic_path(component.vendor) %></td>
			<td><%= link_to component.item_number, polymorphic_path(component) %></td>
			<td><%= component.color %></td>
			<td><%= component.material %></td>
			<td><%= link_to cl_image_tag(component.artwork_url(:thumb)), component.artwork_url, target: :_blank %></td>
			<td><%= component.specs %></td>
			<td>
				<%= link_to polymorphic_path(component), data: { remote: true, method: :delete, 
										confirm: "Are you sure you want to delete this Cork?" } do %>
					<span class="glyphicon glyphicon-trash"></span>				
				<% end %>
			</td>
		</tr>
	<% end %>
</table>