<div class="col-xs-6">
	<%= f.error_notification %>
	<%= f.input :sample_number, label: "Sample Number" %>
	<%= f.input :vinx2_reference, label: "Vinx2 Reference" %>
	<%= f.input :vintage %>
	<%= f.input :appellation %>
	<%= f.input :variety %>
	<%= f.input :alc %>
	<%= f.input :treatments %>
	<%= f.input :description %>
	<%= f.button :submit, class: "col-xs-offset-4 submit-spacer col-xs-8" %>
</div>