<div class='row spacer'>
	<div class='row-same-height'>
		<div class='col-xs-8 col-xs-height'>
			<h1>Wines</h1>
		</div>
		<div class='col-xs-4 col-xs-height text-right'>
			<%= link_to "New Wine", new_wine_path %>
		</div>
	</div>
</div>
<div class='row spacer'>
	<p>
		Filter by: 
		<%= link_to_if(@status == "inactive", "Active", wines_path) %> | 
		<%= link_to_if(@status == "active", "Inactive", wines_path + "?status=inactive") %>
	</p>
	<table class='table table-striped'>
		<tr>
			<th class="col-xs-1">Sample Number</th>
			<th>Vinx2 Ref.</th>
			<th>Gals</th>
			<th>Vintage</th>
			<th>Appellation</th>
			<th>Variety</th>
			<th>Status</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		<% for wine in @wines %>
			<tr id="wine-<%= wine.id %>">
				<td><%= link_to wine.sample_number, wine_path(wine) %></td>
				<td><%= wine.vinx2_reference %></td>
				<td><%= number_with_delimiter(wine.try(:blend_volume).to_i) %></td>
				<td><%= wine.vintage %>
					<% if wine.blend_volume %>
					&nbsp;(<%= number_to_percentage(wine.weighted_avg(:vintage), precision: 1) %>)
					<% end %>
				</td>
				<td><%= wine.appellation %>
					<% if wine.blend_volume %>
						&nbsp;(<%= number_to_percentage(wine.weighted_avg(:variety), precision: 1) %>)
					<% end %>
				</td>
				<td><%= wine.variety %>
					<% if wine.blend_volume %>
						&nbsp;(<%= number_to_percentage(wine.weighted_avg(:appellation), precision: 1) %>)
					<% end %>
				</td>
				<td>
					<%= select_tag "wine[state]", options_for_select(Wine.aasm.states_for_select, wine.aasm_state),
						 							class: "form-control wine-state-control", data: { url: wine_path(wine) } %>
				</td>
				<td><%= link_to "Edit", edit_wine_path(wine) %></td>
				<td>
					<%= link_to wine_path(wine), data: { remote: true, method: :delete, 
																				confirm: "Are you sure you want to delete this Wine?" } do %>
						<span class="glyphicon glyphicon-trash"></span>													
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".wine-state-control").unbind("change");
			$(".wine-state-control").change(function(){
				var url = $(this).attr("data-url");
				var option = $(this).val();
				if ( option == "active" ) {
					var action = "reactivate";
				} else if ( option == "inactive" ) {
					var action = "deactivate";
				} else {
					return false
				}
				$.ajax({
					url: url + "/" + action,
					method: "PUT",
					dataType: "script"
				});
			});
		});
	</script>
</div>