<div class='row spacer'>
	<div class='row-same-height'>
		<div class='col-xs-8 col-xs-height'>
			<h1>Wines</h1>
		</div>
		<div class='col-xs-4 col-xs-height text-right'>
			<%= link_to "New Wine", new_wine_path %>
		</div>
	</div>
</div>
<div class='row spacer'>
	<table class='table table-striped'>
		<tr>
			<th>Sample Number</th>
			<th>Vinx2 Ref.</th>
			<th>Gals</th>
			<th>Vintage</th>
			<th>Appellation</th>
			<th>Variety</th>
			<th>Alc</th>
			<th>$/Gal</th>
			<th>&nbsp;</th>
		</tr>
		<% for wine in @wines %>
			<tr>
				<td><%= link_to wine.sample_number, wine_path(wine) %></td>
				<td><%= wine.vinx2_reference %></td>
				<td><%= number_with_delimiter(wine.try(:blend_volume).to_i) %></td>
				<td><%= wine.vintage %>
					<% if wine.blend_volume %>
					&nbsp;(<%= number_to_percentage(wine.weighted_avg(:vintage), precision: 1) %>)
					<% end %>
				</td>
				<td><%= wine.appellation %>
					<% if wine.blend_volume %>
						&nbsp;(<%= number_to_percentage(wine.weighted_avg(:variety), precision: 1) %>)
					<% end %>
				</td>
				<td><%= wine.variety %>
					<% if wine.blend_volume %>
						&nbsp;(<%= number_to_percentage(wine.weighted_avg(:appellation), precision: 1) %>)
					<% end %>
				</td>
				<td><%= wine.alc %>%</td>
				<td><%= number_to_currency(wine.weighted_avg(:cogs)) %></td>
				<td><%= link_to "Edit", edit_wine_path(wine) %></td>
			</tr>
		<% end %>
	</table>
</div>