<div class="row spacer">
	<div class="row-same-height">
		<div class="col-xs-8 col-xs-height"><h1><%= @wine.to_s %></h1></div>
		<div class="col-xs-4 col-xs-height pull-right"><%= link_to "Edit Wine", edit_wine_path(@wine) %></div>
	</div>
</div>
<div class="row spacer">
	<div class="col-xs-12">
		<div class="col-xs-4">
			<table class="table table-responsive no-top-border">
				<tr>
					<td>Sample Code</td>
					<td class="bold"><%= @wine.sample_number %></td>
				</tr>
				<tr>
					<td>Vinx2 Reference</td>
					<td class="bold"><%= @wine.vinx2_reference %></td>
				</tr>
				<tr>
					<td>$/Gal</td>
					<td class="bold"><%= number_to_currency(@wine.weighted_avg(:cogs)) %></td>
				</tr>
				<tr>
					<td>Gallons</td>
					<td class="bold"><%= number_with_delimiter(@wine.try(:blend_volume)) %></td>
				</tr>
				<tr>
					<td colspan="2"><p><%= @wine.treatments.nil? ? "<em>No Treatments</em>" : "Treatments" %></p><%= markup(@wine.treatments) %></td>
				</tr>
			</table>
		</div>
		<div class="col-xs-4">
			<table class="table table-responsive no-top-border">
				<tr>
					<td>Vintage</td>
					<td class="bold"><%= @wine.vintage %>
						<% if @wine.blend_volume %>
							&nbsp;(<%= number_to_percentage(@wine.weighted_avg(:vintage), precision: 1) %>)
						<% end %>
					</td>
				</tr>
				<tr>
					<td>Appellation</td>
					<td class="bold"><%= @wine.appellation %>
						<% if @wine.blend_volume %>
							&nbsp;(<%= number_to_percentage(@wine.weighted_avg(:appellation), precision: 1) %>)
						<% end %>
					</td>
				</tr>
				<tr>
					<td>Variety</td>
					<td class="bold"><%= @wine.variety %>
						<% if @wine.blend_volume %>
							&nbsp;(<%= number_to_percentage(@wine.weighted_avg(:variety), precision: 1) %>)
						<% end %>
					</td>
				</tr>
				<tr>
					<td>Alc</td>
					<td class="bold"><%= @wine.alc %>%</td>
				</tr>
				<tr>
					<td colspan="2">
						<% unless @wine.description.blank? %>
							<p>Description:</p><p><%= markup(@wine.description) %></p>
						<% else %>
							<p class="text-muted">No Description</p>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-4">
			<table class="table table-responsive no-top-border">
				<tr>
					<th colspan="2">Customer Shipments</th>
				</tr>
				<tr>
					<td colspan="2"><%= render partial: "partials/shipment_customer_select", locals: { wine: @wine } %></td>
				</tr>
				<% @wine.wine_shipments.each do |shipment| %>
				<tr>
					<td>
						<%= shipment.customer.name %>
						<% if shipment.accepted? %>
							<span class="glyphicon glyphicon-star text-muted"></span>
						<% end %>
					</td>
					<td><%= shipment.formatted_ship_date %>
						<% unless ["delivered", "expired"].include? shipment.tracking_status_class %>
							&nbsp;-&nbsp;<%= link_to shipment.current_status, google_tracking_url_for(shipment), target: :_blank %>
						<% end %>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2>Blend Components</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-responsive no-top-border" id="wine-components-table">
				<thead>
					<tr>
						<th class="col-xs-2">Lot ID</th>
						<th class="col-xs-1">Gallons</th>
						<th class="col-xs-1">Blend %</th>
						<th class="col-xs-1">$/Gal</th>
						<th class="col-xs-1">% Vin</th>
						<th class="col-xs-1">% App</th>
						<th class="col-xs-1">% Var</th>																		
						<th class="col-xs-2">Description</th>
						<th class="col-xs-1">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<%= render partial: "components/table", locals: { wine: @wine } %>
				</tbody>
			</table>
		</div>
	</div>
</div>