<div class='row'>
	<table class='table table-striped'>
		<tr>
			<th>Vendor</th>
			<th>Name</th>
			<th>Specs</th>
			<th>Material</th>
			<th>Color</th>
		</tr>
		<% for cork in @components[:corks] %>
		<tr>
			<td><%= link_to cork.vendor.name, vendor_path(cork.vendor) %></td>
			<td><%= cork.name %></td>
			<td><%= cork.specs %></td>
			<td><%= cork.material %></td>
			<td><%= cork.color %></td>
		</tr>
		<% end %>
	</table>
</div>

<div class='row'>
	<div class='col-xs-12'>
		<h1>Screwcaps</h1>
	</div>
</div>
<div class='row'>
	<table class='table table-striped'>
		<tr>
			<th>Vendor</th>
			<th>Name</th>
			<th>Specs</th>
			<th>Material</th>
			<th>Color</th>
		</tr>
		<% for screwcap in @components[:screwcaps] %>
		<tr>
			<td><%= link_to screwcap.vendor.name, vendor_path(screwcap.vendor) %></td>
			<td><%= screwcap.name %></td>
			<td><%= screwcap.specs %></td>
			<td><%= screwcap.material %></td>
			<td><%= screwcap.color %></td>
		</tr>
		<% end %>
	</table>
</div>