<div id="<%= type %>-replace" class="replace-upload preview">
	<%= conditional_image_link(component, type, :sidebar) %>
</div>
<div id="replace-<%= type %>-form" class="form-upload-replace">
	<span class="pull-left"><%= "Replace #{present_attr(type)}" %></span>
	<%= form_for component, remote: true, html: {id: "#{type}-upload-form", class: "pull-left col-xs-1"}, 
								data: { update_id: component.id, update_model: component.class.to_s.downcase, 
								dropzone: "##{type}-replace", method: :patch } do |f| %>
		<%= hidden_field_tag :direct, true %>
		<%= f.cl_image_upload(type.intern, public_id: "#{component.class.to_s.downcase}/#{type.pluralize}/#{component.id}", 
													html: { id: "#{type}-upload", data: { component: component.class.to_s.downcase, attribute: type }}) %>
	<% end %>
</div><br/>
<span class="status clearfix" id="<%= type %>-status">&nbsp;</span>