<div class='row spacer'>
	<table class='table table-striped'>
		<tr>
			<th>&nbsp;</th>
			<th>Vendor</th>
			<% unless controller_name.include? 'labels' %>
				<th>Code</th>
			<% end %>
			<% if controller_name == 'bottles' %>
				<th>Shape</th>
				<th>Mould</th>
			<% end %>
			<% unless controller_name.include? 'labels'%>
				<th>Color</th>
			<% end %>
			<% if controller_name == 'bottles' %>
				<th class="col-xs-1">Bottle Capacity</th>
			<% end %>
			<% unless controller_name == 'bottles' %>
				<th><%= controller_name.include?('labels') ? 'Paper Type' : 'Material' %></th>
			<% end %>
			<% if controller_name.include? 'labels' %>
				<th>Taper/Cut</th>
				<th>Treatments</th>
				<th>Designer</th>
				<th>Position</th>
				<th>Rewind</th>
			<% end %>
			<th class="col-xs-<%= controller_name == 'bottles' ? '1' : '2' %>">
				<% if controller_name == 'labels' %>
					Size
				<% elsif controller_name == 'bottles' %>
					Bottle Specs
				<% else %>
					Specs
				<% end %>
			</th>
			<% if controller_name == 'bottles' %>
				<th class="col-xs-1">Bottles / Case</th>
				<th>Carton Size</th>
				<th>Config</th>
			<% end %>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		<% for component in @components %>
		<tr>
			<td><%= link_to cl_image_tag(component.image_url(:thumb)), polymorphic_path(component) %></td>
			<td><%= link_to component.vendor.name, vendor_path(component.vendor) %></td>
			<% unless controller_name.include? 'labels' %>
				<td><%= link_to component.code, polymorphic_path(component) %></td>
			<% end %>
			<% if controller_name == 'bottles' %>
				<td><%= component.shape %></td>
				<td><%= component.mould %></td>
			<% end %>
			<% unless controller_name.include? 'labels' %>
				<td><%= component.color %></td>
			<% end %>
			<% if controller_name == 'bottles' %>
				<td><%= component.capacity_string %></td>
			<% end %>
			<% unless controller_name == 'bottles' %>
				<td><%= component.material %></td>
			<% end %>
			<% if controller_name.include? 'labels' %>
				<td><%= component.label_cut %></td>
				<td><%= component.label_treatment %></td>
				<td><%= component.artwork_source %></td>
				<td><%= component.label_position %>mm</td>
				<td><%= component.label_rewind %></td>
			<% end %>
			<td><%= component.specs %></td>
			<% if controller_name == "bottles" %>
				<td><%= component.case_capacity %></td>
				<td><%= component.formatted_carton_size %></td>
				<td><%= component.pallet_configuration %></td>
			<% end %>
			<td><%= link_to "Edit", edit_polymorphic_path(component) %></td>
			<td>
				<%= link_to "Delete", polymorphic_path(component), 
						{class: "btn btn-default btn-xs", method: :delete, 
						data: { confirm: "Are you sure you want to delete this item? This cannot be undone."}} %>
			</td>
		</tr>
		<% end %>
	</table>
</div>