<div class='row'>
	<table class='table table-striped'>
		<tr>
			<th>Vendor</th>
			<th>Name</th>
			<th>Specs</th>
			<th>Material</th>
			<th>Color</th>
			<th>&nbsp;</th>
		</tr>
		<% for component in @components %>
		<tr>
			<td><%= link_to component.vendor.name, vendor_path(component.vendor) %></td>
			<td><%= component.name %></td>
			<td><%= component.specs %></td>
			<td><%= component.material %></td>
			<td><%= component.color %></td>
			<td>
				<a href="<%= shipper_path(component) %>" method="_delete" data-method="delete" class="btn btn-default btn-xs" data-confirm="Are you sure you want to delete this <%= @klass.to_s.downcase %>?">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</a>
			</td>
		</tr>
		<% end %>
	</table>
</div>