<div class='row'>
	<div class='row-same-height'>
		<div class='col-xs-8 col-xs-height'>
			<h1><%= @packaging_component.code %><% unless @packaging_component.item_identifier.blank? %> &nbsp;<small>(<%= @packaging_component.item_identifier %>)</small><% end %><br/><small><%= link_to @packaging_component.vendor.name, vendor_path(@packaging_component.vendor) %></small></h1>
		</div>
		<div class='col-xs-4 col-xs-height text-right'>
			<%= link_to "Edit #{@klass.to_s.titleize}", edit_polymorphic_path(@packaging_component) %>
		</div>
	</div>
</div>
<div class='row spacer component-show'>
	<div class='col-xs-8'>
		<% if @klass == Bottle %>
			<div class="row">
				<div class="col-xs-4 title-row"><h4>Bottle Attributes</h4></div>
				<div class="col-xs-4 title-row"><h4>Case Attributes</h4></div>
			</div>
			<div class='row'>
				<div class='col-xs-2 l'>Mould</div>
				<div class='col-xs-2 r'><%= @packaging_component.mould %></div>
				<div class="col-xs-2 l">Bottles / Case</div>
				<div class="col-xs-2 r"><%= @packaging_component.case_capacity %></div>
			</div>
			<div class='row'>
				<div class='col-xs-2 l'>Color</div>
				<div class='col-xs-2 r'><%= @packaging_component.color %></div>
				<div class="col-xs-2 l">Carton Size</div>
				<div class="col-xs-3 r"><%= @packaging_component.formatted_carton_size %></div>
			</div>
			<div class='row'>
				<div class='col-xs-2 l'>Shape</div>
				<div class='col-xs-2 r'><%= @packaging_component.shape %></div>
				<div class="col-xs-2 l">Case Weight</div>
				<div class="col-xs-2 r"><%= @packaging_component.case_weight %> Lbs</div>
			</div>
			<div class="row">
				<div class='col-xs-2 l'>Capacity</div>
				<div class='col-xs-2 r'><%= @packaging_component.capacity_string %></div>
				<div class="col-xs-2 l">Configuration</div>
				<div class="col-xs-2 r"><%= @packaging_component.pallet_configuration %></div>
			</div>
			<div class="row">
				<div class='col-xs-2 l'>Fill Point</div>
				<div class='col-xs-2 r'><%= @packaging_component.fill_point_string %></div>
			</div>
			<div class="row">
				<div class='col-xs-2 l'>Specs</div>
				<div class='col-xs-3 r'><%= @packaging_component.specs %></div>
			</div>
		<% elsif [FrontLabel, BackLabel].include? @klass %>
			<div class="row">
				<div class="col-xs-2 l">Paper Type</div>
				<div class="col-xs-2 r"><%= @packaging_component.material %></div>
				<div class="col-xs-2 l">Specs</div>
				<div class="col-xs-2 r"><%= @packaging_component.specs %></div>
			</div>
			<div class="row">
				<div class="col-xs-2 l">Treatments</div>
				<div class="col-xs-2 r"><%= @packaging_component.label_treatment %></div>
				<div class="col-xs-2 l">Position</div>
				<div class="col-xs-2 r"><%= @packaging_component.label_position %><%= @packaging_component.units %></div>
			</div>
			<div class="row">
				<div class="col-xs-2 l">Die Cut</div>
				<div class="col-xs-2 r"><%= @packaging_component.label_cut %></div>
			</div>
			<div class="row">
				<div class="col-xs-2 l">Rewind</div>
				<div class="col-xs-2 r"><%= @packaging_component.label_rewind %></div>
			</div>
		<% elsif @klass == Capsule %>
			<div class='row'>
				<div class='col-xs-2 l'>Color</div>
				<div class='col-xs-2 r'><%= @packaging_component.color %></div>
				<div class='col-xs-2 l'>Specs</div>
				<div class='col-xs-3 r'><%= @packaging_component.specs %></div>
			</div>
			<div class='row'>
				<div class='col-xs-2 l'>Material</div>
				<div class='col-xs-2 r'><%= @packaging_component.material %></div>
			</div>
		<% elsif @klass == Shipper %>
			<div class='row spacer'>
				<div class='col-xs-2 l'>Material</div>
				<div class='col-xs-2 r'><%= @packaging_component.material %></div>
				<div class='col-xs-2 l'>Specs</div>
				<div class='col-xs-3 r'><%= @packaging_component.specs %></div>
			</div>
			<div class='row'>
				<div class='col-xs-2 l'>Capacity</div>
				<div class='col-xs-2 r'><%= @packaging_component.capacity_string %></div>
			</div>
		<% elsif [Cork, Screwcap].include? @klass %>
			<div class='row spacer'>
				<div class='col-xs-2 l'>Material</div>
				<div class='col-xs-2 r'><%= @packaging_component.material %></div>
				<div class='col-xs-2 l'>Specs</div>
				<div class='col-xs-3 r'><%= @packaging_component.specs %></div>
			</div>
			<div class='row'>
				<div class='col-xs-2 l'>Color</div>
				<div class='col-xs-2 r'><%= @packaging_component.color %></div>
			</div>
		<% end %>
		<div class="row spacer">&nbsp;</div>
		<div class='row spacer break'>
			<div class='col-xs-12'>
				<% unless @packaging_component.attachments.empty? %>
					<div class='row'>
						<div class='col-xs-8'>
							<h2>Component Assets</h2>
						</div>
					</div>
					<% @packaging_component.attachments.in_groups_of(2) do |group| %>
						<div class='row'>
							<% group.compact.each do |attachment| %>
								<div class='col-xs-4'>
									<%= link_to cl_image_tag(attachment.asset_url), attachment.asset_url %>
									<div class="attachment-attr">
										<span class="attachment-title"><%= attachment.title %>&nbsp;</span>
										<%= attachment.description %>
									</div>
								</div>
							<% end %>							
						</div>
					<% end %>
				<% else %>
					<h2><small>No assets exist for this component.</small></h2>
				<% end %>
			</div>
		</div>
	</div>
	<div class='col-xs-4'>
		<% if @packaging_component.image? %>
			<%= link_to cl_image_tag(@packaging_component.image_url(:sidebar)), @packaging_component.image_url %>
		<% end %>
	</div>
</div>